@import "tailwindcss";

@theme {
  --font-sans: "Quicksand", "sans-serif";
  --font-serif: "DM Serif Text", serif;
  --font-title: "Ramabhadra", sans-serif;
  --tw-ease: ease-in-out;
  --tw-duration: 0.25s;
  --color-menu-gray: #e9e9e9;
}

@layer base {
  html {
    @apply text-gray-600;
    scrollbar-gutter: stable;
  }

  body {
    @apply flex min-h-dvh flex-col font-sans;

    &.no-overflow {
      @apply overflow-hidden;
    }
  }

  #root {
    @apply flex grow flex-col;
  }

  h1 {
    @apply font-title text-3xl uppercase md:text-4xl;
  }

  a {
    @apply transition-colors hover:text-black;
  }
}

@layer components {
  .navlink {
    @apply relative block after:pointer-events-none after:absolute after:bottom-0 after:left-0 after:block after:h-px after:w-screen after:bg-black after:opacity-0 after:transition-[opacity,translate] max-md:overflow-hidden max-md:after:delay-500 md:inline-block md:after:right-0 md:after:left-auto md:after:translate-x-[-100%] md:after:duration-500;

    &.is-active {
      @apply text-black after:opacity-100 md:after:translate-x-0;
    }
  }
}
