@import "tailwindcss";

@theme {
  --font-sans: "Quicksand", "sans-serif";
  --font-serif: "Gloock", serif;
  --tw-ease: ease-in-out;
  --tw-duration: 0.25s;
  --color-eb-green: #d3e2de;
  --color-eb-green-light: #e3f0ed;
}

@layer base {
  html {
    @apply text-gray-600;
    scrollbar-gutter: stable;
  }

  body {
    @apply flex min-h-dvh flex-col font-sans;

    &.no-overflow {
      @apply overflow-hidden;
    }
  }

  #root {
    @apply flex grow flex-col;
  }

  h1 {
    @apply font-serif text-3xl tracking-widest uppercase md:text-4xl;
  }

  a {
    @apply transition-colors hover:text-black;
  }
}

@layer components {
  .navlink {
    @apply after:absolute after:top-full after:left-0 after:mt-[2px] after:block after:h-px after:w-screen after:bg-black after:opacity-0 after:transition-[opacity,translate] max-md:after:delay-500 md:after:right-0 md:after:left-auto md:after:translate-x-[-100%] md:after:duration-500;
  }
}
